@model WebApplication1.Models.Hall

<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Hall</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Hall</a></li>
                    <li class="breadcrumb-item active">Delete</li>
                </ol>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Venue.Venue_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Venue.Venue_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hall_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hall_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hall_Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hall_Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hall_Picture)
                    </dt>

                    <dd>
                        <img src="@Url.Content(Model.Hall_Picture)" height="100" width="100" />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hall_Picture1)
                    </dt>

                    <dd>
                        <img src="@Url.Content(Model.Hall_Picture1)" height="100" width="100" />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hall_Picture2)
                    </dt>

                    <dd>
                        <img src="@Url.Content(Model.Hall_Picture2)" height="100" width="100" />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hall_Picture3)
                    </dt>

                    <dd>
                        <img src="@Url.Content(Model.Hall_Picture3)" height="100" width="100" />
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hall_Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hall_Price)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Event_Slot)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Event_Slot)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Hall_Location)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Hall_Location)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Staff)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Staff)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ameities)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ameities)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cancellation_Policy)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cancellation_Policy)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Venue_Type)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Venue_Type)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <button type="submit" class="btn btn-primary fa fa-trash"> Delete </button> |
                        <a class="btn btn-warning fa fa-arrow-circle-o-left" href="@Url.Action("Index","Halls")"> Back to List </a>
                    </div>
                }
            </div>
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
</div>