@model WebApplication1.Models.Event_Organizers

<!-- ============================================================== -->
<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Organizer</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Organizer</a></li>
                    <li class="breadcrumb-item active">Delete</li>
                </ol>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
        <div class="row">
            <div>
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Admin.Admin_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Admin.Admin_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EventOrganizer_Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EventOrganizer_Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EventOrganizer_Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EventOrganizer_Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EventOrganizer_Password)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EventOrganizer_Password)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EventOrganizer_Contact)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EventOrganizer_Contact)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EventOrganizer_Gender)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.EventOrganizer_Gender)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.EventOrganizer_Picture)
                    </dt>
                    @if (Model.EventOrganizer_Picture != null)
                    {
                        <dd>
                            <img src="@Url.Content(Model.EventOrganizer_Picture)" height="100" width="100" />
                        </dd>
                    }
                    else
                    {
                        <dd></dd>
                    }
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>

                </dl>


                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <button type="submit" class="btn btn-primary fa fa-trash"> Delete </button> |
                        <a class="btn btn-warning fa fa-arrow-circle-o-left" href="@Url.Action("Index","Event_Organizers")"> Back to List </a>
                    </div>
                }
            </div>
        </div>
        <!-- Row -->
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
</div>