@model WebApplication1.Models.Event_Organizers

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Event_Organizers</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>

            <li class="breadcrumb-item ">Event_Organizers</li>
            <li class="breadcrumb-item active">Details</li>
        </ol>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Admin.Admin_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Admin.Admin_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventOrganizer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventOrganizer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventOrganizer_Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventOrganizer_Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventOrganizer_Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventOrganizer_Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventOrganizer_Contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventOrganizer_Contact)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventOrganizer_Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventOrganizer_Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventOrganizer_Picture)
        </dt>

        <dd>
            <img src="@Url.Content(Model.EventOrganizer_Picture)" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
 
<!-- Row --> @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a href="@Url.Action("Edit", "Event_Organizers", new { id=Model.EventOrganizer_ID })">
            <i class="fa fa-edit btn btn-success  ">Edit</i>
        </a>
        <a class="btn btn-warning fa fa-arrow-circle-o-left" href="@Url.Action("Index","Event_Organizers")"> Back to List </a>
    </div>
}
<!-- ============================================================== -->
