@model IEnumerable<WebApplication1.Models.Event_Organizers>

@{

    ViewBag.Title = "Index";
}

<center><h1><b>Event_Organizer Applied Requests</b></h1></center>

<br />
<table class="table table-bordered table-hover">
    <tr class="bg-light-extra">
        @*<th>
             Image
        </th>*@
        <th>
             Name
        </th>
        <th width="10px">
             Email
        </th>
        <th>
            Password
        </th>
        <th>
            Writer Contact
        </th>
        @*<th width="10px">
         Address
        </th>*@
      
        <th width="5px">
             Status
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    @*<td>
        <img height="100" width="80" src="@Url.Content(item.EventOrganizer_Picture)" />
    </td>*@
    <td>
        @Html.DisplayFor(modelItem => item.EventOrganizer_Name)
    </td>
    <td width="7px">
        @Html.DisplayFor(modelItem => item.EventOrganizer_Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventOrganizer_Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.EventOrganizer_Contact)
    </td>
    @*<td>
        @Html.DisplayFor(modelItem => item.ad)
    </td>*@

    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        <a class="btn btn-primary fa fa-toggle-on " href="@Url.Action("activateaccount","Event_Organizers",new { id= item.EventOrganizer_ID})"></a> |
        <a class="btn btn-danger fa fa-ban " href="@Url.Action("blockaccount","Event_Organizers",new { id= item.EventOrganizer_ID})"></a> |
        <a class="btn btn-success fa fa-book " href="@Url.Action("DetailsOrganizer","Event_Organizers",new { id= item.EventOrganizer_ID})"></a>


    </td>
</tr>
    }

</table>
