@model WebApplication1.Models.FoodLeftover

<!-- ============================================================== -->
<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">FoodLeftOver</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>

            <li class="breadcrumb-item ">FoodLeftOver</li>
            <li class="breadcrumb-item active">Details</li>
        </ol>
    </div>

</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->
<div class="row">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Customer_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Customer_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>
</div>
<!-- Row --> @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <a href="@Url.Action("Edit", "FoodLeftovers", new { id=Model.ID })">
            <i class="fa fa-edit btn btn-success  ">Edit</i>
        </a>
        <a class="btn btn-warning fa fa-arrow-circle-o-left" href="@Url.Action("Index","FoodLeftovers")"> Back to List </a>
    </div>
}
<!-- ============================================================== -->
