@using WebApplication1.Models;
@using WebApplication1.Utils;
@{
    Model1 db = new Model1();
    int? ordercount = db.Bookings.Where(x => x.Booking_Status == "Booked").Count();
    int? proceedcount = db.Bookings.Where(x => x.Booking_Status == "Proceed").Count();
    //int? wrcount = db.Withdraw_Amount.Where(x => x.ISTRANSFERED != true).Count();
    // int? epcount = db.Episodes.Where(x => x.Isapproved != true).Count();

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <!-- Favicon-->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/AdminPicture/logo1.ico">
    <title>@db.Website_Details.Select(x => x.Website_Name).FirstOrDefault() Admin </title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Admin/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/Content/Admin/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="~/Content/Admin/assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Admin/css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="~/Content/Admin/css/pages/dashboard1.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/Content/Admin/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~/Content/Admin/https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="~/Content/Admin/https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />

    @*@RenderSection("head", required: false)*@
    <style>
        .text-themecolor {
            color: #ac77a7 !important;
            font-size: x-large;
            font-weight: 600;
        }

        .sidebar-nav > ul > li.active > a i {
            color: #ac77a7;
        }

        .sidebar-nav ul li a.active i, .sidebar-nav ul li a:hover i {
            color: #4B3047;
        }

        .sidebar-nav ul li a.active, .sidebar-nav ul li a:hover {
            color: #4B3047;
        }

        .sidebar-nav ul li a {
            color: #ac77a7 !important;
            padding: 10px 35px 10px 15px;
            display: block;
            font-size: 15px;
            font-weight: 400;
        }

            .sidebar-nav ul li a:hover {
                color: #4B3047 !important;
                font-weight: 500;
            }

        .new1 {
            color: #dec08e;
        }

            .new1:hover {
                color: #d8ba89;
            }

        .primary-btn {
            position: relative;
            overflow: hidden;
            color: #fff;
            padding: 0 30px;
            line-height: 50px;
            border-radius: 50px;
            display: inline-block;
            text-transform: capitalize;
            font-weight: 500;
            cursor: pointer;
            border: none;
            background: linear-gradient(90deg, #B08EAD 60%, #4B3049 100%, #B08EAD 50%);
            -webkit-transition: all 0.3s ease 0s;
            -moz-transition: all 0.3s ease 0s;
            -o-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }

            .primary-btn:is(:hover) {
                color: white;
                font-weight: bold;
            }

        element.style {
        }

        .table td, .table th {
            border: 1px solid #e9edf2;
            box-shadow: 3px 5px 5px #888888;
        }

        .table td, .table th {
            padding: 0.75rem;
            vertical-align: top;
            font-family: poppins,sans-serif;
        }

        .b1 {
            font-weight: bold;
            color: black;
        }

        .li1 {
            font-family: poppins,sans-serif;
            font-size: medium;
            color: #ac77a7;
        }

        .p1 {
            color: #4b3049;
            font-family: poppins,sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: medium;
        }
    </style>
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label">Admin </p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header container">
                    <a class="navbar-brand" href="@Url.Action("Indexadmin","Home")">
                        <!-- Logo icon --><div>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Content/AdminPicture/logo1.png" alt="homepage" class="dark-logo" sizes="16x16" />
                            <!-- Light Logo icon -->
                            <!--<img src="~/Content/AdminPicture/logo1.png" alt="homepage" class="light-logo" sizes="50x50"/>-->
                        </div>
                        <!--End Logo icon -->

                    </a>
                </div>
                <hr />
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-bars ti-close"></i></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box">
                            <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="fa fa-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="fa fa-times"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="/AdminProfile/ProfileIndex" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="@Url.Content(BaseHelper.Admin.Admin_Picture)" alt="user" class="" />
                                <span class="hidden-md-down">@BaseHelper.Admin.Admin_Name &nbsp;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" style="margin-top:2.5rem ">
                    <ul id="sidebarnav">
                        <li>
                            <a class="waves-effect waves-dark" href="/Home/indexadmin" aria-expanded="false"><i class="fa fa-tachometer new1"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/Venues/Index" aria-expanded="false"><i class="fa fa-home new1"></i><span class="hide-menu">Manage Venues</span></a>
                        </li>

                        <li>
                            <a class="waves-effect waves-dark" href="/Halls/Index" aria-expanded="false"><i class="fa fa-hotel new1"></i><span class="hide-menu">Manage Hall</span></a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="/Website_Details/Index" aria-expanded="false"><i class="fa fa-globe new1"></i><span class="hide-menu">Manage Website</span></a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-tasks"></i>
                                <span>Manage Admins</span>
                            </a>
                            <ul id="sidebarnav">

                                <li>
                                    <a class="waves-effect waves-dark" href="/Roles/Index" aria-expanded="false">
                                        <i class="fa fa-group new1"></i><span class="hide-menu">Manage Roles</span>
                                    </a>
                                    <a class="waves-effect waves-dark" href="/Admins/Index" aria-expanded="false">
                                        <i class="fa fa-user-plus new1"></i><span class="hide-menu">Manage Admins</span>
                                    </a>
                                    <a class="waves-effect waves-dark" href="/AdminProfile/ProfileIndex" aria-expanded="false">
                                        <i class="fa fa-user-circle-o new1"></i><span class="hide-menu">Manage Profile</span>
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="">
                                <i class="fa fa-tasks"></i>
                                <span>Manage Services</span>
                            </a>
                            <ul id="sidebarnav">

                                <li>
                                    <a class="waves-effect waves-dark" href="@Url.Action("IndexOrganizer","Event_Organizers")" aria-expanded="false">
                                        <i class="fa fa-user new1"></i><span class="hide-menu">Event Organizers</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="@Url.Action("Index","Service_Category")" aria-expanded="false">
                                        <i class="fa fa-bars new1"></i><span class="hide-menu"> Category</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="@Url.Action("Index","Sub_ServiceCategory")" aria-expanded="false">
                                        <i class="fa fa-bars new1"></i><span class="hide-menu"> Sub Category</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="@Url.Action("IndexServices","Services")" aria-expanded="false">
                                        <i class="fa fa-solid fa-cubes new1"></i><span class="hide-menu"> Services</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="waves-effect waves-dark" href="@Url.Action("Index","FoodLeftovers")" aria-expanded="false">
                                        <i class="fa fa-solid fa-cubes new1"></i><span class="hide-menu"> organizer</span>
                                    </a>
                                </li>

                                <li>
                                    <a class="waves-effect waves-dark" href="@Url.Action("WithdrawRequest","WithdrawSalary")" aria-expanded="false">
                                        <i class="fa fa-money"></i><span class="hide-menu"> Withdraw Salary </span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="">
                                <i class="fa fa-tasks"></i>
                                <span>Manage Bookings</span>
                            </a>
                            <ul id="sidebarnav">

                                <li>
                                    <a class="waves-effect waves-dark" href="/BookingReports/NewBookings" aria-expanded="false">
                                        <i class="fa fa-table new1"></i><span class="hide-menu">New Bookings</span><small>(@ordercount)</small>
                                    </a>
                                    <a class="waves-effect waves-dark" href="/BookingReports/NextProceedBooking" aria-expanded="false">
                                        <i class="fa fa-table new1"></i><span class="hide-menu">Proceed Bookings</span><small>(@proceedcount)</small>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("SendEmail","Admins")" aria-expanded="false">
                                <i class="fa fa-envelope new1"></i><span class="hide-menu">Email</span>
                            </a>
                        </li>

                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("ViewReport","Admins")" aria-expanded="false">
                                <i class="fa fa-file new1"></i><span class="hide-menu">Booking Report</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("logout","Admins")" aria-expanded="false">
                                <i class="fa fa-sign-out new1"></i><span class="hide-menu"><b style="color:#745871">Logout</b></span>
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Bread crumb and right sidebar toggle -->
                <!-- ============================================================== -->
                @RenderBody()
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
        </div>
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="~/Content/Admin/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/Content/Admin/assets/node_modules/bootstrap/js/popper.min.js"></script>
    <script src="~/Content/Admin/assets/node_modules/bootstrap/js/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/Admin/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/Admin/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/Admin/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/Admin/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="~/Content/Admin/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="~/Content/Admin/assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="~/Content/Admin/assets/node_modules/d3/d3.min.js"></script>
    <script src="~/Content/Admin/assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="~/Content/Admin/js/dashboard1.js"></script>
    @if (TempData["Success"] != null)
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript">
                    toastr.info('@TempData["success"]')
        </script>
    }  @if (TempData["error"] != null)
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript">
                    toastr.error('@TempData["error"]')
        </script>
    }
</body>

</html>
