@using WebApplication1.Models;
@using WebApplication1.Utils;
@{
    Model1 db = new Model1();
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, AdminWrap lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, AdminWrap lite design, AdminWrap lite dashboard bootstrap 5 dashboard template">
    <meta name="description"
          content="AdminWrap Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>@db.Website_Details.Select(x => x.Website_Name).FirstOrDefault() Organizer Wrap</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/adminwrap-lite/" />
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/Organizer/assets/images/favicon.png">
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/Organizer/assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Organizer/assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <!-- This page CSS -->
    <!-- chartist CSS -->
    <link href="~/Content/Organizer/assets/node_modules/morrisjs/morris.css" rel="stylesheet">
    <!--c3 CSS -->
    <link href="~/Content/Organizer/assets/node_modules/c3-master/c3.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/Content/Organizer/html/css/style.css" rel="stylesheet">
    <!-- Dashboard 1 Page CSS -->
    <link href="~/Content/Organizer/html/css/pages/dashboard1.css" rel="stylesheet">
    <!-- You can change the theme colors from here -->
    <link href="~/Content/Organizer/html/css/colors/default.css" id="theme" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- toastr  -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
    @RenderSection("head", required: false)
</head>

<body class="fix-header fix-sidebar card-no-border">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="loader">
            <div class="loader__figure"></div>
            <p class="loader__label"> organizer Wrap</p>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="@Url.Action("IndexOrganizer","Home")">
                        <!-- Logo icon --><b>
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="~/Content/Organizer/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo icon -->
                            <img src="~/Content/Organizer/assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
                        </b>
                        <!--End Logo icon -->
                        <!-- Logo text --><span>
                            <!-- dark Logo text -->
                            <img src="~/Content/Organizer/assets/images/logo-text2.png" alt="homepage" class="dark-logo" />
                            <!-- Light Logo text -->
                            <img src="~/Content/Organizer/assets/images/logo-light-text2.png" class="light-logo" alt="homepage" />
                        </span>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
                               href="javascript:void(0)"><i class="fa fa-bars"></i></a>
                        </li>
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <li class="nav-item hidden-xs-down search-box">
                            <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)">
                                <i class="fa fa-search"></i>
                            </a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Search & enter"> <a class="srh-btn"><i class="fa fa-times"></i></a>
                            </form>
                        </li>
                    </ul>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav my-lg-0">
                        <li><a class="btn btn-info btn-sm" style="float:right;border-radius:10px" href="@Url.Action("Withdraw","WithdrawSalary")"> Withdraw </a> <h6> Current Wallet Amount:<b><span>@BaseHelper.totalsalary Rs</span></b></h6></li>
                    </ul>

                    <ul class="navbar-nav my-lg-0">
                        <!-- ============================================================== -->
                        <!-- Profile -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown u-pro">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="@Url.Action("Index","Organizers")"
                               id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img src="@Url.Content(BaseHelper.event_organizers.EventOrganizer_Picture)" alt="" class="" /> <span class="hidden-md-down">@BaseHelper.event_organizers.EventOrganizer_Name &nbsp;</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown"></ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li>
                            <a class="waves-effect waves-dark" href="/Home/IndexOrganizer" aria-expanded="false">
                                <i class="fa fa-tachometer new1"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("Index","Event_Organizers")" aria-expanded="false">
                                <i class="fa fa-user-circle-o new1"></i><span class="hide-menu">Profile</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("Index","Services")" aria-expanded="false">
                                <i class="fa fa-table new1"></i><span class="hide-menu">Manage Artifacts</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("Index","Episodes")" aria-expanded="false">
                                <i class="fa fa-bookmark-o new1"></i><span class="hide-menu">Add Episodes</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("addnotification","Notificatons")" aria-expanded="false">
                                <i class="fa fa-bell new1"></i><span class="hide-menu">Add Notifications</span>
                            </a>
                        </li>
                        @*<li>
            <a class="waves-effect waves-dark" onclick="openWin()" aria-expanded="false">
                <i class="fa fa-globe"></i><span class="hide-menu">Chat Room</span>
            </a>
        </li>*@
                        <li>
                            <a class="waves-effect waves-dark" href="/WithdrawSalary/SalaryMenu/" aria-expanded="false">
                                <i class="fa fa-money new1"></i><span class="hide-menu">Salary Menu</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("ViewReport","Event_Organizers")" aria-expanded="false">
                                <i class="fa fa-file new1"></i><span class="hide-menu">View Report</span>
                            </a>
                        </li>
                        <li>
                            <a class="waves-effect waves-dark" href="@Url.Action("logout","Event_Organizers")" aria-expanded="false">
                                <i class="fa fa-sign-out new1"></i><span class="hide-menu"><b style="color:#745871">Logout</b></span>
                            </a>
                        </li>

                        <
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <div class="container-fluid">
                @RenderBody()

                <!-- ============================================================== -->
            </div>
            <footer class="footer"> © 2022 Organizer wrap by <a>EMS.com</a> </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script>
        function openWin() {
            myWindow = window.open("@Url.Action("ChatRoom","Home")", "", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=300,width=750,height=650");
        }
    </script>
    <script src="~/Content/Organizer/assets/node_modules/jquery/jquery.min.js"></script>
    <!-- Bootstrap popper Core JavaScript -->
    <script src="~/Content/Organizer/assets/node_modules/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Content/Organizer/html/js/perfect-scrollbar.jquery.min.js"></script>
    <!--Wave Effects -->
    <script src="~/Content/Organizer/html/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="~/Content/Organizer/html/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Content/Organizer/html/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!--morris JavaScript -->
    <script src="~/Content/Organizer/assets/node_modules/raphael/raphael-min.js"></script>
    <script src="~/Content/Organizer/assets/node_modules/morrisjs/morris.min.js"></script>
    <!--c3 JavaScript -->
    <script src="~/Content/Organizer/assets/node_modules/d3/d3.min.js"></script>
    <script src="~/Content/Organizer/assets/node_modules/c3-master/c3.min.js"></script>
    <!-- Chart JS -->
    <script src="~/Content/Organizer/html/js/dashboard1.js"></script>
    @*@RenderSection("Scripts", required: false)*@
    @if (TempData["Success"] != null)
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript">
                    toastr.info('@TempData["success"]')
        </script>
    }  @if (TempData["error"] != null)
    {
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
        <script type="text/javascript">
                    toastr.error('@TempData["error"]')
        </script>
    }
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>
