@using WebApplication1.Models;
@using WebApplication1.Utils;

@{ Model1 db = new Model1();
}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->

    <link rel="shortcut icon" href="~/Content/AdminPicture/logo1.ico">
    <!-- Author Meta -->
    <meta name="author" content="CodePixar">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>@db.Website_Details.Select(x => x.Website_Name).FirstOrDefault()</title>
    <!--
        CSS
        ============================================= -->
    <link rel="stylesheet" href="~/Content/Event/css/linearicons.css">
    <link rel="stylesheet" href="~/Content/Event/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Event/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/Event/css/bootstrap.css">
    <link rel="stylesheet" href="~/Content/Event/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Content/Event/css/nice-select.css">
    <link rel="stylesheet" href="~/Content/Event/css/nouislider.min.css">
    <link rel="stylesheet" href="~/Content/Event/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/Content/Event/css/ion.rangeSlider.skinFlat.css" />
    <link rel="stylesheet" href="~/Content/Event/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Event/css/main.css">
    <style>

        body {
            line-height: 24px;
            font-size: 14px;
            font-family: 'Fira', sans-serif;
            font-weight: 400;
            color: #777777;
            background: #fff;
        }

        .whatsapp_float {
        }

        html,
        body {
            height: 100%;
        }


        .dark-mode {
            background-color: #777777;
            color: white;
        }

        .buttondark {
            text-transform: none;
            background: none;
            border: none;
        }

        .sidenav {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            position: fixed; /* Stay in place */
            z-index: 1; /* Stay on top */
            top: 0; /* Stay at the top */
            right: 0;
            /*background: linear-gradient(to bottom, #009999 44%, #00ffff 100%);*/ /* Black*/
            background: #b08ead;
          overflow-x: hidden; /* Disable horizontal scroll */
            padding-top: 60px; /* Place content 60px from the top */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
        }

            /* The navigation menu links */
            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 30px;
                color: white;
                display: block;
                transition: 0.3s;
            }

                /* When you mouse over the navigation links, change their color */
                .sidenav a:hover {
                    color: #f1f1f1;
                }

            /* Position and style the close button (top right corner) */
            .sidenav .closebtn {
                position: absolute;
                top: 15px;
                right: 25px;
                font-size: 60px;
                margin-left: 50px;
            }

        .notification_wrap {
            width: 300px;
            margin: 0px auto 0;
        }

            .notification_wrap .dropdown {
                width: 280px;
                height: auto;
                background: #fff;
                border-radius: 5px;
                box-shadow: 2px 2px 3px rgba(0,0,0,0.125);
                margin: 18px auto 0;
            }

                .notification_wrap .dropdown .notify_item {
                    display: flex;
                    align-items: center;
                    padding: 10px 0;
                    border-bottom: 1px solid #dbdaff;
                }

                    .notification_wrap .dropdown .notify_item:last-child {
                        border-bottom: 0px;
                    }

                    .notification_wrap .dropdown .notify_item .notify_img {
                        margin-right: 15px;
                    }

                    .notification_wrap .dropdown .notify_item .notify_info p span {
                        color: black;
                    }

                    .notification_wrap .dropdown .notify_item .notify_info .notify_time {
                        color: #c5c5a6;
                        font-size: 12px;
                    }
    </style>

    <script>
        function myFunction() {
            var element = document.body;
            element.classList.toggle("dark-mode");
        }
    </script>
</head>
<body>

    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/home/index">

                        <img src="@Url.Content(db.Website_Details.Select(x=>x.Website_Logo).FirstOrDefault())" height="80" width="80" alt="" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item active"><a class="nav-link" href="/home/index">Home</a></li>
                            <li class="nav-item submenu dropdown">
                                <a href="~/Content/Event/#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Menu</a>
                                <ul class="dropdown-menu">
                                    <li class="nav-item"><a class="nav-link" href="/home/venue">Venues</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/home/hall">Halls</a></li>
                                    <li class="nav-item"><a class="nav-link" href="/home/Services">Services</a>
                                    <li class="nav-item"><a class="nav-link" href="/home/Packages">Packages</a>
                                    <li class="nav-item"><a class="nav-link" href="/home/foodleftover">foodleftover</a>
                                    <li class="nav-item"><a class="nav-link" onclick="openNav()">Notifications</a>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/home/contact">Contact</a></li>
                            <li class="nav-item submenu dropdown">
                                @if (BaseHelper.customer == null)
                                {

                                    <a href="~/Content/Event/#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">
                                        GuestUser
                                    </a>
                                    <a class="img-circle img-circle-sm" href="#user">
                                        <img src="~/Content/Event/img/usericon1.png" style="border-radius:50% 50%; height:30px;width:30px" alt="...">
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="nav-item"><a class="nav-link" href="/Admins/loginadmin"> Admin</a>
                                        <li class="nav-item"><a class="nav-link" href="/Event_Organizers/login"> Event_Organizer</a>

                                        <li class="nav-item"><a class="nav-link" href="/Customers/loginuser">Customer</a>
                                    </ul>

                                }
                                else
                                {

                                    <a href="~/Content/Event/#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                       aria-expanded="false">
                                        @BaseHelper.customer.Customer_Name
                                    </a>
                                    <a class="img-circle img-circle-sm" href="#author">
                                        <img src="@Url.Content(BaseHelper.customer.Customer_Picture)" style="border-radius:50%;  height:50px;width:50px" alt="...">
                                    </a>
                                    <ul class="dropdown-menu">
                                        @*<li class="nav-item"><a class="nav-link" href="@Url.Action("Edit", "Customers", new { id = BaseHelper.customer.Customer_ID })">Manage Account</a>
                                            <li class="nav-item"><a class="nav-link" href="@Url.Action("Delete", "Customers", new { id = BaseHelper.customer.Customer_ID })">Delete Account</a>*@
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CustomerHistory", "Customers")">Booking History</a>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("loginuser", "Customers")">User Login</a>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("CancelledBookings", "Customers")">Cancelled Bookings</a>
                                        <li class="nav-item"><a class="nav-link" href="@Url.Action("logout", "Customers")">Logout</a>
                                    </ul>

                                }


                            </li>


                        </ul>
                        <!--/notifications-->
                        <div id="mySidenav" class="sidenav">
                                <a href="javascript:void(0)" onclick="closeNav()">&times;</a>
                                @foreach (var item in db.Notifications.OrderByDescending(x => x.ID))
                                {

                                    <div class="notification_wrap">

                                        <div class="dropdown">
                                            <div class="notify_item">
                                                <div class="notify_img">
                                                    @*<img src="@Url.Content(item.Event_Organizers.EventOrganizer_Picture)" alt="" style="width: 60px;height:60px; border-radius:50%">*@
                                                    <span class="" style="font-size:22px"><b>@item.Event_Organizers.EventOrganizer_Name</b></span>
                                                </div>
                                                <div class="notify_info">
                                                    <p>@Html.DisplayFor(modelItem => item.Message)</p>
                                                    <span class="notify_time">@Html.DisplayFor(modelItem => item.DateTime)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>}
                            </div>


                        <!--//search-right-->
                        <!--/Notification-->
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item">
                                <button onclick="myFunction()" class="buttondark"><span class="btn btn-default fa fa-moon-o"></span></button>
                            </li>
                            <li class="nav-item">

                                @*<button class="search" onkeypress="myFunc()" id="tags" placeholder="Search for Services" name="tags"
                                            required="required" autofocus="">
                                        <span class="lnr lnr-magnifier" id="search"></span>
                                    </button>*@

                                <!--/search-right-->
                                <!--<div class="search-right mt-lg-0 mt-2">
                                    <a href="#search" title="search"><span class="fa fa-search" aria-hidden="true"></span></a>
                                    search popup
                                    <div id="search" class="pop-overlay">
                                        <div class="popup">-->
                                @*<h3 class="hny-title two">Search here</h3>*@
                                <!--<form action="/home/search" method="post" class="search">
                                    <input type="search" onkeypress="myFunc()" id="tags" class="fa fa-search" name="tags"
                                           required="required" autofocus="">-->
                                @*<button type="submit" class="btn">search</button>*@
                                <!--</form>-->
                                @*<a class="close" href="#close">×</a>*@
                                <!--</div>
                                </div>-->
                                <!-- /search popup -->
                                <!--</div>-->
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form action="/home/search" method="post" class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search" onkeypress="myFunc()" placeholder="Search for Service" name="tags"
                          required="required" autofocus=""></span>
                </form>
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    @RenderBody()
    <div class="whatsapp_float" style="margin-bottom:20px" onclick="scrollFunction()" id="movetop" title="Go to top">

        <a href="https://wa.me/923187141021" target="_blank"><img width="50" style="border-radius: 50%; position: inherit; float:right" src="~/Content/HallPicture/whatsapp.png" class="whatsapp_float_btn" /></a>


    </div>
    <a href="" onclick="scrollFunction()" id="movetop" title="Go to top" style="display: inline;margin-left:10px">
        <i class="fa fa-chevron-up button"></i>
    </a>

    @*<a href="#" class="back-to-top"><i class="fa fa-chevron-up button"></i></a>*@
    <!-- move top -->
    <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction()
        };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.getElementById("movetop").style.display = "block";
            } else {
                document.getElementById("movetop").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }</script>
    <!-- //move top -->
    <!-- start footer Area -->
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12  col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <center>

                            <h4 style="color: white; font-weight: bold;font-family:Cookie;font-size:xx-large">Legal Disclaimer</h4>
                            <p>
                                All the manga on this site are the property of the publisher. We are just trying to translate
                                them into other languages<br /> so that you can more easily track them. Do not try to make a profit from these.<br />
                                If you like any of the hall or service you get here, consider buying them from the publisher, if available.<br /> You can
                                contact us at:<b><i><u>@db.Website_Details.Select(x => x.Website_Email).FirstOrDefault()</u></i> </b>
                            </p>

                        </center>
                    </div>
                </div>


                <div class="col-lg-12 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <center>
                            <h4 style=" color: white; font-weight: bold;font-family:Cookie;font-size:xx-large">Follow Us</h4>
                            <p>Let us be social</p>


                            <div class="footer-social align-items-center ">
                                <a href="~/Content/Event/#"><i class="fa fa-facebook"></i></a>
                                <a href="~/Content/Event/#"><i class="fa fa-twitter"></i></a>
                                <a href="~/Content/Event/#"><i class="fa fa-dribbble"></i></a>
                                <a href="~/Content/Event/#"><i class="fa fa-behance"></i></a>
                            </div>
                        </center>
                    </div>
                </div>
            </div>

            <div class="footer-bottom d-flex justify-content-center align-items-center flex-wrap">
                <p class="footer-text m-0">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#Admin" target="_blank">EMS</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>

            </div>

        </div>

    </footer>
    <!-- End footer Area -->
    <!-- Back to top button -->

    <script src="~/Content/Event/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="~/Content/Event/../../cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="~/Content/Event/js/vendor/bootstrap.min.js"></script>
    <script src="~/Content/Event/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/Event/js/jquery.nice-select.min.js"></script>
    <script src="~/Content/Event/js/jquery.sticky.js"></script>
    <script src="~/Content/Event/js/nouislider.min.js"></script>
    <script src="~/Content/Event/js/countdown.js"></script>
    <script src="~/Content/Event/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Event/js/owl.carousel.min.js"></script>
    <!--gmaps Js-->
    <script src="~/Content/Event/https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
    <script src="~/Content/Event/js/gmaps.min.js"></script>
    <script src="~/Content/Event/js/main.js"></script>
    <script>
        var availableTags = [];
        function myFunc() {

            if (availableTags.length == 0) {
                $.ajax({

                    type: 'GET',
                    url: '/Home/Services',
                    success: function (response) {
                        var data = JSON.parse(response);
                        $.each(data, function (key, item) {
                            availableTags.push(item.Service_Name);

                        });
                        /* console.log(data); console.log(availableTags);*/
                    }
                });
            }

            $("#tags").autocomplete({
                source: availableTags
            });

        }
    </script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "350px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });</script>
    <!-- disable body scroll which navbar is in active -->
</body>
</html>