@using WebApplication1.Utils
@using WebApplication1.Models
@model WebApplication1.Models.Booking
@{
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
    decimal total = 0;
    Model1 db = new Model1();
}

<style>
    .main-content {
        font-family: 'Poppies';
        color: black;
    }

    /*Content Panel*/
    .content-panel {
        background: #ffffff;
        box-shadow: 0px 3px 2px #aab2bd;
        padding-top: 15px;
        padding-bottom: 5px;
    }

        .content-panel h4 {
            margin-left: 10px;
        }
    /* INVOICE CONF */
    .well.green {
        background-color: deepskyblue;
        color: #fff;
        border: none;
    }

    .well.well-small {
        padding: 13px;
        width: auto;
    }

    .invoice-body {
        padding: 30px;
    }

        .invoice-body h1 {
            font-weight: 900;
        }

        .invoice-body h4 {
            margin-left: 0px;
        }
</style>
<br />


<br />
<section class="main-content">
    <section class="wrapper">
        <div class="col-lg-12 mt">
            <div class="row content-panel">
                <div class="col-lg-10 col-lg-offset-1">
                    <div id="printArea">
                        <table style="margin-left:40px">
                            <tr>
                                <td width="33%" rowspan="3"><img src="@Url.Content(db.Website_Details.Select(x=>x.Website_Logo).FirstOrDefault())" width="80" height="80" />
                                <h2><b>@db.Website_Details.Select(x => x.Website_Name).FirstOrDefault()</b></h2></td>
                                <td width="33%"></td>
                                <td width="33%"><b>Email:</b>@db.Website_Details.Select(x => x.Website_Email).FirstOrDefault()</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td><b>Address:</b>@db.Website_Details.Select(x => x.Website_Address).FirstOrDefault()</td>
                            </tr>
                            <tr>

                                <td></td>
                                <td><b>COntact:</b>@db.Website_Details.Select(x => x.Website_Contact).FirstOrDefault()</td>
                            </tr>
                        </table>
                        <div class="invoice-body">
                            <div class="pull-left">

                                @*<a class="btn btn-info" href="/OrdersReports/NewOrders/">Back to Orders list</a><br />*@<br /><br />
                                <address>
                                    <strong><b>From,@BaseHelper.Admin.Admin_Name</b> , EMS Admin</strong><br>
                                    @BaseHelper.Admin.Admin_Email<br>
                                    <abbr>Contact:</abbr> @BaseHelper.Admin.Admin_Contact
                                </address>
                            </div>
                            <!-- /pull-left -->
                            <div class="pull-right">
                                <br /><br /><br /><br /><h2><b>Invoice</b></h2>
                            </div>
                            <!-- /pull-right -->
                            <div class="clearfix"></div>
                            <br>
                            <br>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    @if(Model.Customer_FID != null) { 
                                    <h3><b>To,@Model.Customer.Customer_Name</b></h3>
                                    <address>
                                        <strong>@Model.Customer.Customer_Email</strong><br>
                                        

                                        <abbr>Contact:</abbr> @Model.Customer.Customer_Contact
                                    </address>
                                    }
                                </div>
                                <!-- /col-md-9 -->
                                <div class="col-md-3">
                                    <br>
                                    <div>
                                        <div class="pull-left"> INVOICE ID : </div>
                                        <div class="pull-right">@Model.Booking_ID </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div>
                                        <!-- /col-md-3 -->
                                        <div class="pull-left"> INVOICE DATE : </div>
                                        <div class="pull-right"> @Model.Event_Date.ToString("d") </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <!-- /row -->
                                    <br>

                                </div>
                                <!-- /invoice-body -->
                            </div>
                            <!-- /col-lg-10 -->
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="text-right"><b>Hall Image</b></th>
                                        <th class="text-right"><b>Hall Name</b></th>
                                        
                                        <th style="width:140px" class="text-right"><b> PRICE</b></th>
                                        <th style="width:90px " class="text-right"><b>TOTAL</b></th>
                                    <th style="width:90px" class="text-right"></th>
                                    <th style="width:90px" class="text-right"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Booking_Details)
                                    {
                                        total += (decimal)item.Price;
                                        <tr>

                                            <td class="text-right"> <img height="100" width="90" src="@Url.Content(item.Hall.Hall_Picture)" /></td>
                                            <td class="text-right"> @item.Hall.Hall_Name</td>
                                           
                                            <td class="text-right">@item.Price</td>
                                           
                                        </tr>
                                    }

                                    <tr>
                                        <td colspan="3" rowspan="4">


                                    </tr>
                                    <tr>
                                        <td class="text-right no-border"><strong><b>Service Charges</b></strong></td>
                                        <td class="text-right">Rs.100</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right no-border"><strong><b>TAX Included in Total</b></strong></td>
                                        <td class="text-right">Rs.0.00</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right no-border">
                                            <div class="well well-small green"><strong><b>Grand Total</b></strong></div>
                                        </td>
                                        <td class="text-center" style="padding-top:22px"><strong><b>Rs.@(total+100)</b></strong></td>
                                    </tr>

                                </tbody>

                            </table>

                            <input type="submit" id="btn" class="btn btn-block btn-info col-12" onclick="return PrintFunction() " value="Print Report" />
                            <br>
                            <br>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/col-lg-12 mt -->
    </section>

    <!-- /wrapper -->
</section>
<script type="text/javascript">
    function PrintFunction() {
        var print = document.getElementById('printArea');
        var b1 = document.getElementById('btn');
        b1.style.display = 'none';
        var printWindow = window.open('', '', 'height=400,width=800');
        printWindow.document.write('<html><head><title>DIV Contents</title>');
        printWindow.document.write('</head><body >');
        printWindow.document.write(print.innerHTML);
        printWindow.document.write('</body></html>');
        printWindow.document.close();
        setTimeout(function () {
            printWindow.print();
        }, 500);
        b1.style.display = 'block';
        return false;
    }
</script>
