@using WebApplication1.Models;
@using WebApplication1.Utils;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 db = new Model1();
    List<Service> pro1 = (List<Service>)TempData.Peek("Cart1");
    List<Package> pro2 = (List<Package>)TempData.Peek("Cart2");

    <!---service-->
    List<Hall> pro = (List<Hall>)TempData.Peek("Cart");

    var dates = (EventDates)TempData.Peek("dates");

    decimal total = 0;
}
<style>

    .hvr-hover {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px rgba(0, 0, 0, 0);
        position: relative;
        background: darkcyan;
        -webkit-transition-property: color;
        transition-property: color;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        border-radius: 0;
        box-shadow: none;
    }

        .hvr-hover::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #010101;
            -webkit-transform: scaleY(0);
            transform: scaleY(0);
            -webkit-transform-origin: 50%;
            transform-origin: 50%;
            -webkit-transition-property: transform;
            transition-property: transform;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
        }

        .hvr-hover:hover::after {
            -webkit-transform: scaleY(1);
            transform: scaleY(1);
            color: #ffffff;
        }

    .hvr-hover {
    }

    .title-left {
        font-size: 16px;
        border-bottom: 3px solid #010101;
        margin-bottom: 20px;
    }

        .title-left h3 {
            font-weight: 700;
        }

    update-boxcart-box-main {
        padding: 70px 0px;
    }

    .needs-validation label {
        font-size: 16px;
        margin-bottom: 0px;
        line-height: 24px;
    }

    .needs-validation .form-control {
        min-height: 40px;
        border-radius: 0px;
        border: 1px solid #e8e8e8;
        box-shadow: none !important;
        font-size: 14px;
    }

        .needs-validation .form-control:focus {
            border: 1px solid #d33b33 !important;
        }

    .odr-box a {
        font-size: 18px;
        color: #111111;
        font-weight: 700;
    }
</style>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Confirmation</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home/index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Cart/BookingComplete">Confirmation</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!-- Start All Title Box -->
<!--<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 style="color:white">OrderBooked</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Shop</a></li>
                    <li class="breadcrumb-item active" style="color:white">Checkout</li>
                    <li class="breadcrumb-item active" style="color:white">OrderBooked</li>
                </ul>
            </div>
        </div>
    </div>
</div>-->
<!-- End All Title Box -->
<!-- Start Cart  -->
<section class="order_details section_gap">
    <div class="container">
        <h1 class="title_confirmation">Thank you. Your Booking has been received.</h1>
        <div class="row order_d_inner">
            <div class="cart-box-main">
                <div class="container">

                    <div class="row">
                        <div class="col-sm-6 col-lg-6 mb-3">
                            <div class="checkout-address">
                                <div class="title-left">
                                    <h3>Billing Information</h3>
                                </div>

                                <div class=" container hide">
                                    <div class="col-md-12 form-group">
                                        <label> Customer Name</label>
                                        <input type="text" class="form-control" id="username" name="Customer_Name" placeholder="@BaseHelper.customer.Customer_Name" readonly required>

                                    </div>
                                    <div class="col-md-12 form-group">

                                        <label> Customer Email</label>
                                        <input type="email" class="form-control" readonly placeholder="@BaseHelper.customer.Customer_Email" required>
                                    </div>
                                    <div class="col-md-12 form-group">

                                        <label> Customer Contact</label>
                                        <input type="text" class="form-control" placeholder="@BaseHelper.customer.Customer_Contact" readonly required>
                                    </div>
                                    <div class="col-md-12 form-group">

                                        <label> Event Name</label>
                                        <input type="text" class="form-control" placeholder="@dates.Event_Name" readonly required>
                                    </div>
                                    <div class="col-md-12 form-group">

                                        <label> Event Date</label>
                                        <input type="text" class="form-control" placeholder="@dates.Event_Date.ToShortDateString()" readonly required>
                                    </div>
                                    <div class="col-md-12 form-group">

                                        <label> Event Start Time</label>
                                        <input type="text" class="form-control" id="phone" name="Customer_Contact" placeholder="@dates.Start_Time" readonly required>
                                    </div>
                                    <div class="col-md-12 form-group">

                                        <label> Event End Time</label>
                                        <input type="text" class="form-control" id="phone" name="Customer_Contact" placeholder="@dates.End_Time" readonly required>
                                    </div>
                                </div>
                                <hr class="mb-4">
                                <div>
                                    <div class="d-block my-3">
                                        <div class="custom-control ">
                                            <label style="color: #b08ead"><b>Thank You!!</b> Your Booking will be Confirmed as per Terms & Conditions through Email.. </label>
                                        </div>
                                    </div><hr class="mb-1">


                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-6 mb-3">
                            <div class="row">
                                <div class="col-md-12 col-lg-12">
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="odr-box">
                                        <div class="title-left">
                                            <h3>Booking Details</h3>
                                        </div>
                                        <div class="rounded p-2 bg-light">
                                            @if (pro != null)
                                            {
                                                foreach (var item in pro)
                                                {
                                                    total += (decimal)(item.Per_Head_Price * item.Quantity);
                                                    <div class="media mb-2 border-bottom">
                                                        <div class="media-body">
                                                            <img src="@Url.Content(item.Hall_Picture)" height="50" width="50" />
                                                            <a href="detail.html">@item.Hall_Name</a>
                                                            <div class="small text-muted">Price:@item.Hall_Price <span class="mx-2">|</span> Qty:@(item.Quantity)<span class="mx-2">|</span> Rs:@(item.Per_Head_Price * item.Quantity)</div>
                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                        <div class="rounded p-2 bg-light">
                                            @if (pro1 != null)
                                            {
                                                foreach (var item in pro1)
                                                {
                                                    total += (decimal)(item.Service_Price * pro.FirstOrDefault().Quantity);
                                                    <div class="media mb-2 border-bottom">
                                                        <div class="media-body">
                                                            <img src="@Url.Content(item.Service_Picture)" height="50" width="50" />
                                                            <a href="detail.html">@item.Service_Name</a>
                                                            <div class="small text-muted">Price:@item.Service_Price <span class="mx-2">|</span> Qty:@(pro.FirstOrDefault().Quantity)<span class="mx-2">|</span> Rs:@(item.Service_Price*pro.FirstOrDefault().Quantity)</div>
                                                        </div>
                                                    </div>}
                                            }

                                        </div>
                                        <div class="rounded p-2 bg-light">
                                            @if (pro2 != null)
                                            {
                                                foreach (var item in pro2)
                                                {
                                                    total += (decimal)(item.Packages_Price * item.Quantity);
                                                    <div class="media mb-2 border-bottom">
                                                        <div class="media-body">
                                                            <img src="~/Content/WebsitePicture/images.png" height="50" width="50" />
                                                            <a href="detail.html">@item.Package_Name</a>
                                                            <div class="small text-muted">Price:@item.Packages_Price <span class="mx-2">|</span> Qty:@(item.Quantity)<span class="mx-2">|</span> Rs:@(item.Packages_Price*item.Quantity)</div>
                                                        </div>
                                                    </div>}
                                            }

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12">
                                    <div class="order-box">
                                        <div class="title-left">
                                            <h3>Your Booking</h3>
                                        </div>
                                        <div class="d-flex">
                                            <div class="font-weight-bold">Bookings</div>
                                            <div class="ml-auto font-weight-bold">Total</div>
                                        </div>
                                        <hr class="my-1">
                                        <div class="d-flex">
                                            <h4>Sub Total</h4>
                                            <div class="ml-auto font-weight-bold"> Rs:@total </div>
                                        </div>
                                        <div class="d-flex">
                                            <h4>Discount</h4>
                                            <div class="ml-auto font-weight-bold"> 5% </div>
                                        </div>
                                        <hr class="my-1">
                                        <div class="d-flex">
                                            <h4>Coupon Discount</h4>
                                            <div class="ml-auto font-weight-bold"> RS:0.00 </div>
                                        </div>
                                        <div class="d-flex">
                                            <h4>Tax</h4>
                                            <div class="ml-auto font-weight-bold"> RS:100.00 </div>
                                        </div>
                                        <div class="d-flex">
                                            <h4>Service Charges</h4>
                                            <div class="ml-auto font-weight-bold"> RS:0.00 </div>
                                        </div>
                                        <hr>
                                        <div class="d-flex gr-total">
                                            <h5>Grand Total</h5>
                                            <div class="ml-auto h5"> @(total + 100) </div>
                                        </div>
                                        <hr>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-lg primary-btn" style="color:white" onclick="window.print()">Print Now</button>
                                    <a class="btn btn-lg primary-btn" style="color:white" href="@Url.Action("Closeboking","Cart")">Close Booking?</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Cart -->

<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <span id="lblError"></span>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnClosePopup" value="Close" class="btn btn-danger" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>
@if (TempData["ok"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                $("#lblError").html('@Html.Raw(TempData["ok"])');
                $("#MyPopup").modal("show");
            };
    </script>
}


