@model WebApplication1.Models.Hall
@using WebApplication1.Utils;
@using WebApplication1.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 db = new Model1();
    List<Hall> pro = new List<Hall>();
    if (Session["Cart"] != null)
    {
        pro = (List<Hall>)Session["Cart"];
    }

    List<Service> pro1 = new List<Service>();
    if (Session["Cart1"] != null)
    {
        pro1 = (List<Service>)Session["Cart1"];
    }


    Booking_Details od = new Booking_Details();
    decimal total = 0;
    int rowno = -1;
    int rowno1 = -1;

}
<style>
    .p1 {
        color: #4b3049;
        font-family: poppins,sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: medium;
    }

    .border1 {
        border: dotted;
        border-color: #808080;
        background: #efefef;
        padding: 30px 30px;
        margin: 10px 10px;
    }

    .border2 {
        border: dashed;
        border-color: #dec08e;
        background: #efefef;
        padding: 30px 30px;
        margin: 10px 10px;
    }

    .pic-td {
        height: 200px;
        width: 400px;
        border-radius: 10px 10px;
        box-shadow: 0 4px 4px 0 #808080;
    }
    .valid-feedback {
        display: none;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 0.875em;
        color: #198754;
    }
</style>

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Booking</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home/index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Cart/Displaybooking">Booking</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Cart Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="table-main table-responsive">
                            <table class="table">

                                <tbody class="border2">
                                    @foreach (var item in pro)
                                    {
                                        rowno++;

                                        total += (decimal)item.Hall_Price;

                                        <tr rowspan="5">
                                            <td class="thumbnail-img">

                                                <img class="img-fluid pic-td" src="@Url.Content(item.Hall_Picture)" alt="" />

                                            </td>

                                            <td class="name-pr">
                                                <p class="p1">Name</p><br />
                                                <hr /><h5>
                                                    @item.Hall_Name
                                                </h5>

                                            </td>

                                            <td class="user-name">
                                                <p class="p1">Location</p><br /> <hr /><h5> @item.Hall_Location</h5>

                                            </td>
                                            <td class="price-pr">
                                                <p class="p1">Price</p><br /><hr /> <h5>Rs: @item.Hall_Price</h5>

                                            </td>

                                            <td class="price-pr">
                                                <p class="p1">Details</p><br /><hr />
                                                <h5>
                                                    @if (item.Hall_Description.Length < 90)
                                                    {
                                                        @item.Hall_Description }
                                                    else
                                                    {
                                                        @item.Hall_Description.Substring(0, 60)<span>......</span>}
                                                </h5>

                                            </td>

                                            <td class="price-pr">
                                                <p class="p1">Type</p><br /><hr /><h5> @item.Venue_Type</h5>

                                            </td>

                                        </tr>
                                        Session["Amount"] = total + 100;

                                    }

                                    @foreach (var item in pro1)
                                    {
                                        rowno1++;

                                        total += (decimal)item.Service_Price;

                                        <tr rowspan="5">
                                            <td class="thumbnail-img">

                                                <img class="img-fluid pic-td" src="@Url.Content(item.Service_Picture)" alt="" />

                                            </td>

                                            <td class="name-pr">
                                                <p class="p1">Name</p><br />
                                                <hr /><h5>
                                                    @item.Service_Name
                                                </h5>

                                            </td>
                                            <td class="user-name">
                                                <p class="p1">Category</p><br /> <hr /><h5> @item.Sub_ServiceCategory.Sub_category_Name</h5>

                                            </td>
                                            <td class="price-pr">
                                                <p class="p1">Price</p><br /><hr /> <h5>Rs: @item.Service_Price</h5>

                                            </td>



                                            <td class="price-pr">
                                                <p class="p1">Details</p><br /><hr />
                                                <h5>
                                                    @if (item.Service_Description.Length < 90)
                                                    {
                                                        @item.Service_Description }
                                                    else
                                                    {
                                                        @item.Service_Description.Substring(0, 60)<span>......</span>}
                                                </h5>

                                            </td>

                                            <td class="remove-pr">
                                                <p class="p1">Remove</p><br /><hr /> <a href="@Url.Action("Removefromcart1", "Cart", new { id = rowno1 })">
                                                    <i class="fa fa-trash fa-2x" style="color:#b08ebe"></i>
                                                </a>
                                            </td>
                                        </tr>

                                        Session["Amount"] = total + 100;

                                    }

                                </tbody>
                                @if (Session["cart"] == null)
                                {
                                    <tr>
                                        <td colspan="5" align="center">
                                            <b style="color:#b08ebe">Your Booking is Empty...<a href="@Url.Action("Hall","Home")">Click Here</a> to Add Booking</b>
                                        </td>
                                    </tr>
                                }
                                @if (Session["cart"] != null)
                                {
                                    <tr>

                                        <td>
                                            <div class="order-box" align="center">
                                                <button type="submit" class=" btn primary-btn" onclick="window.location.href='/home/Services'">Update Booking</button>

                                            </div>


                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                    </div>
                </div>


                <div class="row my-5">
                    <div class="col-sm-12 col-lg-6">
                        <div class="checkout-address">

                            <hr />
                            <div class="login_form_inner" style="padding-bottom:1rem;padding-top:30px">
                                <div class="title-left">
                                    <h2 style="color:#b08ebe;font-weight:bold">Billing Details</h2>
                                    <br /><br />
                                    <br />

                                </div>
                                @if (BaseHelper.customer != null)
                                {
                                    <div class=" container hide">
                                        <div class="col-md-12 form-group">

                                            <div class="input-group">
                                                <input type="text" class="form-control" id="username" name="Customer_Name" placeholder="@BaseHelper.customer.Customer_Name" readonly required>
                                                <div class="invalid-feedback" style="width: 100%;"> Your username is required. </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 form-group">

                                            <input type="email" class="form-control" id="email" name="Customer_Email" readonly placeholder="@BaseHelper.customer.Customer_Email" required>
                                            <div class="invalid-feedback"> Please enter a valid Email address for Booking updates. </div>
                                        </div>
                                        <div class="col-md-12 form-group">

                                            <input type="text" class="form-control" id="phone" name="Customer_Contact" placeholder="@BaseHelper.customer.Customer_Contact" readonly required>
                                            <div class="invalid-feedback"> Please enter a valid contact # for Booking updates.</div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="col-md-12 form-group">
                                            <form action="/Cart/Bookingdate" method="get">
                                                <div class="input-group">
                                                    <input type="date" class="form-control" id="txtdateofreservation" name="eventDate" placeholder="Select Date *" required
                                                           />
                                                    <input type="time" class="form-control" id="txtdateofreservation" name="starttime" placeholder="Select Date *" required
                                                           />
                                                    <input type="time" class="form-control" id="txtdateofreservation" name="endtime" placeholder="Select Date *" required
                                                           />
                                                    <div class="invalid-feedback" style="width: 100%;">@TempData["ErrorDate"] </div>
                                                    <input type="submit" value="Confirm Date" />
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="col-md-12 form-group">

                                            <div class="input-group">
                                                <select class="wide" required>
                                                    <option data-display="Enter Event Name"></option>
                                                    <option value="2">Barat</option>
                                                    <option value="3">Reception</option>
                                                    <option value="4">Birthday</option>
                                                    <option value="5">Party</option>
                                                    <option value="6">Coorporation Meeting</option>
                                                    <option value="7">Mehndi</option>
                                                </select>
                                                <div class="invalid-feedback" style="width: 100%;"> Event Name required. </div>
                                            </div>
                                            @*<input type="text" class="form-control" id="txtdateofreservation" name="Event_Name" placeholder="Enter Event Name" required />*@

                                        </div>


                                    </div>
                                }

                                else
                                {
                                    <div class="mb-3">

                                        <a href="@Url.Action("loginuser","Customers")" class="button">Customer login</a>
                                    </div>

                                }

                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-sm-12" style="margin-top:2rem">
                        <div class="order-box border1">
                            <center><h2 style="color:#b08ebe;font-weight:bold">Booking summary</h2></center>
                            <br />

                            <div class="d-flex">
                                <h4>Sub Total</h4>
                                <div class="ml-auto font-weight-bold"> Rs:@total </div>
                            </div>
                            <div class="d-flex">
                                <h4>Discount</h4>
                                <div class="ml-auto font-weight-bold"> 5% </div>
                            </div>
                            <hr class="my-1">
                            <div class="d-flex">
                                <h4>Coupon Discount</h4>
                                <div class="ml-auto font-weight-bold"> Rs:0.00 </div>
                            </div>
                            <div class="d-flex">
                                <h4>Tax</h4>
                                <div class="ml-auto font-weight-bold"> Rs:100.00 </div>
                            </div>
                            <div class="d-flex">
                                <h4>Service Charges</h4>
                                <div class="ml-auto font-weight-bold"> Rs:0.00</div>
                            </div>
                            @*<div class="d-flex" style="display:inline-block">
                                    <div class="shipping_box">
                                        <h4>Select Event</h4>
                                        <div class="ml-auto font-weight-bold flex-lg-grow-1">
                                            <select class="shipping_select ">

                                                <option value="1">Birthday</option>


                                            </select><br />
                                            <br />
                                        </div>



                                    </div>
                                </div>*@
                            <hr>
                            <div class="d-flex gr-total">
                                <h5>Grand Total</h5>
                                <div class="ml-auto h5">Rs:<span>@(total + 100)</span></div>
                            </div>
                            <hr>
                            @if (Session["cart"] != null && Session["cart1"] != null && total != 0 )
                            {
                                <center><div class="d-flex"><a class="btn primary-btn" href="/Cart/checkout" style="float:right">Checkout</a> </div></center>

                            }
                            else
                            {
                                <center>
                                    <div class="d-flex">
                                        <button type="button" class="btn primary-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Checkout
                                        </button>
                                    </div>
                                </center>
                            }

                        </div>
                    </div>

                </div>




            </div>
        </div>
    </div>
</section>

<!--================End Cart Area =================-->

<script type="text/javascript">
    window.onload = function () { window.scrollBy(0, 230); }
</script>
<div id="MyPopup" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <span id="lblError"></span>
            </div>
            <div class="modal-footer">
                <input type="button" id="btnClosePopup" value="Close" class="btn primary-btn" data-dismiss="modal" />
            </div>
        </div>
    </div>
</div>
@if (TempData["ok"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                $("#lblError").html('@Html.Raw(TempData["ok"])');
                $("#MyPopup").modal("show");
            };
    </script>
}
@if (TempData["ok1"] != null)
{
    <script type="text/javascript">
        window.onclick = function () {
                $("#lblError").html('@Html.Raw(TempData["ok1"])');
                $("#MyPopup").modal("show");
            };
    </script>
}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        var today = new Date();
        var month = ('0' + (today.getMonth() + 1)).slice(-2);
        var day = ('0' + today.getDate()).slice(-2);
        var year = today.getFullYear();
        var date = year + '-' + month + '-' + day;
        $('[id*=txtdateofreservation]').attr('min', date);
    });
</script>
<script>
    function ValidateInput() {
        var pattern = /^03[\d]{9}$/;
        var number = document.getElementById("contact").value;
        if (!pattern.test(number))
            ErrorMsg('Please Enter a 11 digit valid Number!');
        var address = document.getElementById("address").value.length;
        if (address < 15)
            ErrorMsg('Please Enter your Proper Address!');
        var passswordpattern = /(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/;
        var password = document.getElementById("password").value;
        if (!passswordpattern.test(password))
            ErrorMsg('Please Enter a Password that contains uper and Lower Case Alphanumeric and Special Characters!');
        var name = document.getElementById("name").value.length;
        var emailpattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
        var email = document.getElementById("email").value;
        if (!emailpattern.test(email))
            ErrorMsg('Please Enter a valid Email Address!');
        if (!(name < 15 && name > 0))
            ErrorMsg('Please Enter a name between 0 to 15 letters!');
        if (document.getElementById("file").value == "")
            ErrorMsg('Please Upload an Image!');
        return true;
    }
    function ErrorMsg(msg) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: msg,
        });
        return false;
    }
    function onlyNumberKey(event) {
        var ASCIICode = (event.which) ? evt.which : event.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
</script>

<!-- //NOT premium model -->
@if (TempData["new"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                $("#lblError").html('@Html.Raw(TempData["new"])');
                $("#MyPopup").modal("show");
            };
    </script>
}
<!------------------Modal--------------------->
<!-- Button trigger modal -->
<!-- Modal -->
