@model IEnumerable<WebApplication1.Models.Venue>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Venue_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue_Details)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue_Picture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue_Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue_Location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Venue_Price)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Venue_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue_Details)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue_Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue_Contact)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue_Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Venue_Price)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Venue_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Venue_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Venue_ID })
        </td>
    </tr>
}

</table>
