@model IEnumerable<WebApplication1.Models.Venue>

<!-- Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Venue</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>

            <li class="breadcrumb-item active">Index</li>
        </ol>
    </div>


</div>
<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<!-- Row -->

<div class="row">
    <div class="col-md-7 align-self-center">
        <a href="@Url.Action("Create", "Venues")" class="btn primary-btn"> Create New</a>

    </div><br />
    <br />
    <br />
    <br />
    <table class="table table-responsive table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Picture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Contact)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Venue_Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_Details)
                </td>
                <td>
                    <img src="@Url.Content(item.Venue_Picture)" height="100" width="100" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_Contact)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venue_Price)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Venues", new { id=item.Venue_ID  })">
                        <i class="fa fa-edit btn btn-success  "></i>
                    </a>

                    <a href="@Url.Action("Details", "Venues", new { id=item.Venue_ID })">
                        <i class="fa fa-book btn btn-warning"></i>
                    </a>
                    <a href="@Url.Action("Delete", "Venues", new { id=item.Venue_ID  })">
                        <i class="fa fa-trash btn btn-danger"></i>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
<!-- Row -->
