@model WebApplication1.Models.Admin

        <!-- ============================================================== -->
        <!-- Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-themecolor">Admin</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                   
                    <li class="breadcrumb-item active">Details</li>
                </ol>
            </div>

        </div>
        <!-- ============================================================== -->
        <!-- End Bread crumb and right sidebar toggle -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <!-- Row -->
           
        <div class="container flex-column">
               <hr/>
                   
                    
                    <dl>
                        <dt>
                            @Html.DisplayNameFor(model => model.Role.Role_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Role.Role_Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Admin_Name)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Admin_Name)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Admin_Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Admin_Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Admin_Password)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Admin_Password)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Admin_Contact)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Admin_Contact)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Status)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Status)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Admin_Picture)
                        </dt>

                        <dd>
                            <img src="@Url.Content(Model.Admin_Picture)" height="100" width="100" />
                        </dd>

                    </dl>
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-actions no-color">
                            <a href="@Url.Action("ProfileEdit", "AdminProfile", new { id=Model.Admin_ID })">
                                <i class="fa fa-edit btn btn-success  ">Edit</i>
                            </a>
                            <a class="btn btn-warning fa fa-arrow-circle-o-left" href="@Url.Action("ProfileIndex","AdminProfile")"> Back to List </a>
                        </div>
                    }
                </div>
            