@model WebApplication1.Models.Service
@using WebApplication1.Utils
@using WebApplication1.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 db = new Model1();
    int a = 0;

}

<style>
    .reply1 {
        margin-left: 1rem;
        border: 1px solid #b08eac;
        color: #b08eac;
        border-radius: 20px 20px
    }

        .reply1:hover {
            border: 1px solid #ffffff;
            color: white;
            background: #b08eac;
        }

    .link1 {
        font-size: 30px;
        color: #b08eac;
        font-family: 'Cookie',Cursive;
    }

        .link1:hover {
            font-size: 32px;
            color: #4b3049;
        }
    .feed-fluid {
        border: dashed;
        border-color: #4b3047;
        background-color: #b08eac24;
    }

    .notify-fluid {
        width: 500px;
        float: right;
        padding: 10px 10px;
        text-align: center;
        padding-left: 170px
    }

    .button1 {
        position: relative;
        overflow: hidden;
        color: #222222;
        padding: 10px 20px;
        border-radius: 5px;
        display: inline-block;
        text-transform: capitalize;
        font-weight: 500;
        border: none;
        cursor: pointer;
    }

        .button1:hover {
            position: relative;
            overflow: hidden;
            color: #fff;
            padding: 10px 15px;
            border-radius: 5px;
            display: inline-block;
            text-transform: capitalize;
            font-weight: 500;
            border: none;
            cursor: pointer;
            background: linear-gradient(90deg, #b08ead 10%,#B08EAC 50%, #4B3047 100%);
        }
</style>
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Sevice Details Page</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home/index">Home<span class="lnr lnr-arrow-right"></span></a>
                   
                    <a href="/home/Service">Hall<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/home/Service_Details">Service details</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<div class="product_image_area">
    <div class="container">
        <div>
            <div class="single-prd-item">

                <h1 style="color: #4b3049; font-family: poppins,sans-serif; font-style: normal"><i class="fa fa-home" style="color: #dec08e; margin-right: 20px"></i>@Model.Service_Name</h1>

                <i class="fa fa-star" style="color: #e88e4d; "></i><i class="fa fa-star" style="color: #e88e4d; "></i><i class="fa fa-star" style="color: #e88e4d; "></i><i class="fa fa-star" style="color: #e88e4d; "></i><i class="fa fa-star" style="color: #e88e4d; "></i>
                <span>
                    ( @Model.Feedbacks.Count())
                </span>
                <span style="color: #4b3049; font-family: poppins,sans-serif;"><i class="fa fa-map" style="margin:0px 10px"></i>@Model.Sub_ServiceCategory.Sub_category_Name</span>
                <hr />
            </div>
        </div>
        <div class="row s_product_inner" style="border:dashed;border-color:#dec08e ;background:#e5e5e5 ;padding:20px 20px ">
            <div class="container-fluid"><h4 style="color: #4b3049; font-family: poppins,sans-serif; font-style: normal; font-weight: bold">Details</h4></div>
            <hr />
            <br /><br />
            <div class="col-lg-3 col-sm-3 offset-lg-0">

                <p style="font-style: normal; font-family: poppins,sans-serif; color: black; font-weight: bold"><i class="fa fa-home" style="margin-right: 12px; color: #dec08e;  font-size:medium"></i>Service</p> <h6 style=" margin-left: 20px; font-style: normal; font-family: poppins,sans-serif;font-size:smaller">@Model.Service_Name</h6>
                <br />
                <p style="font-style: normal;font-family: poppins,sans-serif;color:black; font-weight: bold"><i class="fa fa-rupee" style="margin-right: 12px; color: #dec08e;  font-size:medium"></i>Price</p> <h6 style="margin-left: 20px; font-style: normal; font-family: poppins,sans-serif; font-size: smaller ">@Model.Service_Price</h6>
                <br />


                <br />
                <div>
                    <div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-3 offset-lg-0">

                <p style="font-style: normal;font-family: poppins,sans-serif;color:black; font-weight: bold"><i class="fa fa-area-chart" style="margin-right: 12px; color: #dec08e;  font-size:medium"></i>Date</p> <p style="margin-left: 20px; font-style: normal; font-family: poppins,sans-serif; font-size: smaller ">@Model.Service_Date</p>

                <br />
                <p style="font-style: normal;font-family: poppins,sans-serif;color:black; font-weight: bold"><i class="fa fa-file-o" style="margin-right: 12px; color: #dec08e;  font-size:medium"></i>Details</p> <p style="margin-left: 20px; font-style: normal; font-family: poppins,sans-serif; font-size: smaller ">
                    @if (Model.Service_Description.Length < 250)
                    {
                        @Model.Service_Description }
                    else
                    {
                        @Model.Service_Description.Substring(0, 150)<span>......</span>}
                </p>
                <br />

                <br />


                <div>
                    <br />

                </div>

            </div>
            <div class="col-lg-6 col-sm-6">
                <div class="s_Product_carousel" style="border-radius: 10px 10px; box-shadow: 0 4px 4px 0 #808080;">

                    <div class="single-prd-item" >
                        <img class="img-fluid" src="@Url.Content(Model.Service_Picture)" style="height:250px" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="@Url.Content(Model.Service_Picture)" style="height:250px" alt="">
                    </div>
                    <div class="single-prd-item">
                        <img class="img-fluid" src="@Url.Content(Model.Service_Picture)" style="height:250px" alt="">
                    </div>

                </div>

                <center style="padding-top:5rem">
                    <button class="button1" onclick="window.location.href='@Url.Action("Services","Home")'">
                        Back
                    </button>

                    <button class="button" onclick="window.location.href='@Url.Action("Addtobooking","Cart", new {id = Model.Service_ID})'">
                        Book Now
                    </button>
                </center>
            </div>
           
        </div>
    </div>
</div>


<!--================End Single Product Area =================-->
<!--================Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact"
                   aria-selected="false">Comments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">Reviews</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                    @Model.Service_Description
                </p>
               
            </div>

            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">

                <div class="container py-lg-4 py-md-3">
                    <div class="row">
                        <div class="col-lg-12 trending">
                            <h3 class="section-title-left"><b style="color: #4b3049; font-family: 'Baskerville Old Face'">Comment</b></h3>

                            <div class="col-lg-12 trending">

                                @if (BaseHelper.customer == null)
                                {
                                    <p style="padding-left:5rem;color:#4b3049">
                                        You must <button type="button" class="btn btn-link link1" id="btnLink">Login</button> OR
                                        <button type="button" class="btn btn-link link1" id="btnLink1">Register</button>  to post a Comment.
                                    </p>
                                }
                                else
                                {
                                    <div>
                                        <h4 style="color:#b08eac"><b>Leave a Reply</b></h4>
                                        <form action="/Home/Service_Details" method="post">
                                            <label>@TempData["ok"]</label>
                                            <p>Logged in as @BaseHelper.customer.Customer_Name<a class="btn btn-link button" href="@Url.Action("logout","Customers")">Log out?</a></p>
                                            <input type="hidden" value="@Model.Service_ID" name="Service_FID" />
                                            <textarea name="Feedback_Description" style="height:100px;max-height:auto;width:600px" placeholder="Comment"></textarea><br />
                                            <button class="btn primary-btn" style="float:left" type="submit">Post Comment</button>
                                        </form>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <div class="container py-lg-4 py-md-3">
                    <div class="row">
                        <div class="col-lg-8 trending mt-lg-0 mt-3 mb-lg-3">

                            <h3 class="col-lg-12" style="color: darkcyan; font-family: 'Baskerville Old Face'"><b>Reviews</b></h3>

                            @foreach (var item in db.Feedbacks.Where(x => x.Service_FID == Model.Service_ID && x.Feedback_FID == null && x.Hall_FID == null && x.Venue_FID == null).Take(4))
                            {
                                a++;
                                <div class="notification_wrap">

                                    <div class="dropdown notify-fluid">
                                        <div class="notify_item" style="border-bottom:none">
                                            <div class="container-fluid feed-fluid" >
                                                <div class="notify_img" style="border:none; padding: 10px 10px; text-align: center;">
                                                    <img src="@Url.Content(item.Customer.Customer_Picture)" alt="" style="width: 100px;height:100px; border-radius:50%"><br />
                                                    <span class="notify_time">@item.Customer.Customer_Name</span>
                                                    <small class="notify_time">@Html.DisplayFor(modelItem => item.Feedback_Date)</small>
                                                </div>
                                                <div class="notify_info">
                                                    <h3 style="border: 1px solid #b08ead; padding: 10px 10px; text-align: center;">@Html.DisplayFor(modelItem => item.Feedback_Description)<a data-toggle="collapse" href="#formlogin_@a" role="button" class="fa fa-reply btn-sm reply1">Reply</a></h3>


                                                    <form class="mt-3 collapse review-form-box" id="formlogin_@a" action="/Home/Service_Details" method="post">
                                                        <label>@TempData["ok"]</label>


                                                        <input type="hidden" value="@Model.Service_ID" name="Service_FID"/>
                                                        <input type="hidden" value="@item.Feedback_ID" name="Feedback_FID" />
                                                        <textarea name="Feedback_Description" style="height:50px;max-height:auto;width:300px" placeholder="Comment"></textarea><br />
                                                        <button class="btn primary-btn btn-sm" style="float:left" type="submit">Post Comment</button>
                                                    </form>

                                                </div>
                                            </div>
                                        </div>

                                        @foreach (var reply in db.Feedbacks.Where(x => x.Service_FID == Model.Service_ID && x.Feedback_FID == item.Feedback_ID).OrderByDescending(x => x.Feedback_Date))
                                        {



                                            <div class="notify_item ml-3 feed-fluid1">
                                                <div class="notify_img">
                                                    <img src="@Url.Content(reply.Customer.Customer_Picture)" alt="" style="width: 60px;height:60px; border-radius:50px;position:relative"><br />
                                                </div>
                                                <div class="notify_info">
                                                    <span class="notify_time">
                                                        @reply.Customer.Customer_Name
                                                    </span>
                                                    <p>@reply.Feedback_Description</p>

                                                    <span class="notify_time">@reply.Feedback_Date</span>


                                                </div>

                                            </div>


                                        }

                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>


<!--================End Product Description Area =================-->
<!-- pop up model -->
<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog err-pop" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center; color:black">
                Click here to Log into your account.
                <a class="btn btn-info" style="border-radius:30px;" href="@Url.Action("loginuser","Customers")">Login!</a>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.0.min.js"
        integrity="sha256-2+LznWeWgL7AJ1ciaIG5rFP7GKemzzl+K75tRyTByOE="
        crossorigin="anonymous"></script>
<script>
    $("#btnLink").click(function () {
        $('#ModalPopUp').modal('show');
    })
</script>
<!-- pop up model2 -->
<div class="modal fade" id="ModalPopUp1" role="dialog">
    <div class="modal-dialog err-pop" style="">
        <div class="modal-content">
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body" style="text-align:center; color:black">
                Click here to create a new account and become member with us.
                <a class="btn btn-info" style="border-radius:30px;" href="@Url.Action("Create","Customers")">SignUp NOW!</a>

            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-1.10.0.min.js"
        integrity="sha256-2+LznWeWgL7AJ1ciaIG5rFP7GKemzzl+K75tRyTByOE="
        crossorigin="anonymous"></script>
<script>
    $("#btnLink1").click(function () {
        $('#ModalPopUp1').modal('show');
    })
</script>
<!-- //pop up model -->
<!-- //NOT premium model -->
@if (TempData["new"] != null)
{
    <script type="text/javascript">
            window.onload = function () {
                $("#lblError").html('@Html.Raw(TempData["new"])');
                $("#MyPopup").modal("show");
            };
    </script>
}
<script type="text/javascript">
    // Popup window code
    function newPopup(url) {
        popupWindow = window.open(
            url, 'popUpWindow', 'height=400,width=700,left=100px,top=100px,resizable=yes,scrollbars=yes,toolbar=yes,menubar=no,location=no,directories=no,status=yes')
    }
</script>