@using WebApplication1.Models
@model IEnumerable<WebApplication1.Models.Venue>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model1 db = new Model1();
    //var query1 = db.Venues.Where(x => x.Venue_Name == null).OrderByDescending(x => x.Views.Count()).ToList();

}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Venues page</h1>
                <nav class="d-flex align-items-center">
                    <a href="/home/index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/home/venues">Venue</a>

                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<div class="container">
    <div class="row">
        <div class="col-xl-3 col-lg-4 col-md-5">

        </div>

        <!-- Start Best Seller-->
        <section class="lattest-product-area pb-40 category-list">
            <div class="row">
                <!-- single product -->

                @foreach (var item in db.Venues)
                {
                    if (ViewData["veuneid"] == null || item.Venue_ID == (int)ViewData["veuneid"])
                    {
                        <!-- single product -->
                        <div class="col-lg-4 col-md-6">
                            <div class="single-product card" style="border-radius: 8px; box-shadow: 0 4px 4px 0 #808080;border: dashed;border-color:#c9c9c9;height:550px">
                                <img class="img-fluid" onclick="window.location.href='@Url.Action("Hall","Home",new {id = item.Venue_ID})'" src="@Url.Content(item.Venue_Picture)" style="border-radius: 8px; box-shadow: 0 4px 8px 0 #B08EAD;cursor:pointer; height:250px;width:100%" alt="">
                                <div class="product-details card-body">

                                    <h3 class="fun" onclick="window.location.href='@Url.Action("Hall","Home",new {id = item.Venue_ID})'">

                                        <i class="fa fa-home" style="margin-right:1rem"></i>@item.Venue_Name <small><i class="fa fa-star" style="color: #e88e4d; margin-left: 2rem"></i><i class="fa fa-star" style="color: #e88e4d; "></i><i class="fa fa-star" style="color: #e88e4d;"></i><i class="fa fa-star" style="color: #e88e4d;"></i><i class="fa fa-star" style="color: #e88e4d;"></i></small>
                                    </h3>
                                    <p style=" color: #4B3047;cursor:pointer" onclick="window.location.href='@Url.Action("Hall","Home",new {id = item.Venue_ID})'">
                                        @if (item.Venue_Details.Length < 150)
                                        {
                                            @item.Venue_Details }
                                        else
                                        {
                                            @item.Venue_Details.Substring(0, 85)<span>......</span>}
                                    </p>
                                    <hr />
                                    <h5 style=" overflow: hidden; white-space: nowrap; text-overflow: ellipsis;margin-left:3px">
                                        <i class="fa fa-map-marker" style="margin-right: 1rem; color: #4B3047;"></i> @item.Venue_Location
                                    </h5>
                                    <center>
                                        <div class="price card-footer">
                                            <h6 style="color: black; font-family: poppins,sans-serif; text-transform: capitalize;font-style:normal">Starting at PKR : <b>@item.Venue_Price</b></h6>

                                        </div>
                                    </center>

                                    <div class="prd-bottom justify-content-center" style="margin-left:1rem">

                                        <a href="@Url.Action("Hall","Home",new {id = item.Venue_ID})" class="social-info">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">Hall Details</p>
                                        </a>

                                        <a href="@Url.Action("VenueDetails","Home",new {id = item.Venue_ID})" class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">Venues View</p>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <!-- single product -->
                    }
                }

            </div>

        </section>
    </div>
</div>
<!-- End Best Seller -->
<script type="text/javascript">
    window.onload = function () { window.scrollBy(0, 230); }
</script>
<!-- End related-product Area -->
