@model ReadRix.Models.Notificaton

@{
    Layout = "~/Views/Shared/_Layoutwriter.cshtml";
    ViewBag.Title = "Delete";
}

<center><h1><b>Delete</b></h1></center>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Notificaton</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MESSAGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MESSAGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WRITER_FID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WRITER_FID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATETIME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATETIME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <button type="submit" class="btn btn-primary btn-lg fa fa-trash"> Delete </button> |
    <a class="btn btn-warning btn-lg fa fa-arrow-circle-o-left" href="@Url.Action("Index","Notificatons")"> Back to List </a>
    @*<input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink("Back to List", "Index")*@
</div>
    }
</div>
