@model IEnumerable<WebApplication1.Models.Notification>

@{
    Layout = "~/Views/Shared/_LayoutOrganizer.cshtml";
    ViewBag.Title = "Index";
}


<center><h1><b>Notifications List</b></h1></center>
<a class="btn btn-info btn-lg fa fa-arrow-circle-o-left" href="@Url.Action("addnotification","Notificatons")"> Back to List </a><hr />
<table class="table table-bordered table-hover">
    <tr class="bg-light-extra">
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Organizers.EventOrganizer_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTime)
        </th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Message)
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event_Organizers.EventOrganizer_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                <a class="btn btn-danger fa fa-trash" href=" @Url.Action("Delete", "Notificatons", new { id = item.ID }) "> Delete </a>

            </td>
        </tr>
    }

</table>
